[submodule "sensor_drivers"]
	path = sensor_drivers_new
	url = https://github.com/bosonrobotics/sensor_drivers.git
[submodule "mapping"]
	path = mapping
	url = https://github.com/bosonrobotics/mapping
