<launch>
    <rosparam command="load" file="$(find patchwork)/config/params.yaml" />
    <arg name="points_in" default="/lslidar_point_cloud"/>
    <arg name="rviz" default="false"/>

    <arg name="is_kitti" default="false" />
    <param name="/is_kitti" type="bool" value="$(arg is_kitti)" />

    <group if="$(eval arg('is_kitti'))">
        <node name="$(anon rviz_kitti)" pkg="rviz" type="rviz" args="-d $(find patchwork)/rviz/patchwork_viz.rviz" if="$(eval arg('rviz'))"/>
    </group>

    <group unless="$(eval arg('is_kitti'))">
        <node name="$(anon rviz_kitti)" pkg="rviz" type="rviz" args="-d $(find patchwork)/rviz/patchwork_own_data.rviz" if="$(eval arg('rviz'))"/>
    </group>

    <node name="$(anon ros_kitti)" pkg="patchwork" type="ros_kitti">
        <remap from="/patchwork/cloud" to="$(arg points_in)"/>
    </node>

</launch>
