<?xml version="1.0"?>

<robot name="boson_vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="config_file" default="$(find vehicle_common)/params/half_cabin_config.yaml"/>
  <xacro:property name="config_file_property" value = "$(arg config_file)"/>
  <xacro:property name="M_PI"     value="3.1415926535897931" />
  <xacro:property name="vehicle_info" value="${xacro.load_yaml(config_file_property)}"/>

  <link name="base_link"/>

  <link name="gps_link"/>
  <joint name="gps_joint" type="fixed">
    <origin
        xyz="${vehicle_info['base_link']['gps_link']['x']}
             ${vehicle_info['base_link']['gps_link']['y']}
             ${vehicle_info['base_link']['gps_link']['z']}"

        rpy="${vehicle_info['base_link']['gps_link']['roll']}
             ${vehicle_info['base_link']['gps_link']['pitch']}
             ${vehicle_info['base_link']['gps_link']['yaw']}"
    />
    <parent link="base_link" />
    <child link="gps_link" />
  </joint>

  <link name="zed_camera"/>
  <joint name="zed_camera_link" type="fixed">
    <!-- <origin xyz="2.8 0 0.5" rpy="0 0 0" /> -->
    <origin
        xyz="${vehicle_info['base_link']['zed_camera']['x']}
             ${vehicle_info['base_link']['zed_camera']['y']}
             ${vehicle_info['base_link']['zed_camera']['z']}"

        rpy="${vehicle_info['base_link']['zed_camera']['roll']}
             ${vehicle_info['base_link']['zed_camera']['pitch']}
             ${vehicle_info['base_link']['zed_camera']['yaw']}"
    />
    <parent link="base_link" />
    <child link="zed_camera" />
  </joint>

  <link name="rslidar"/>
  <joint name="3d_lidar_link" type="fixed">
    <!-- <origin xyz="2.8 0 0.2" rpy="0 0 0" /> -->
    <origin
        xyz="${vehicle_info['base_link']['rslidar']['x']}
             ${vehicle_info['base_link']['rslidar']['y']}
             ${vehicle_info['base_link']['rslidar']['z']}"

        rpy="${vehicle_info['base_link']['rslidar']['roll']}
             ${vehicle_info['base_link']['rslidar']['pitch']}
             ${vehicle_info['base_link']['rslidar']['yaw']}"
    />
    <parent link="base_link" />
    <child link="rslidar" />
  </joint>

  <link name="lslidar"/>
  <joint name="ls_lidar_link" type="fixed">
    <!-- <origin xyz="2.8 0 0.2" rpy="0 0 0" /> -->
    <origin
        xyz="${vehicle_info['base_link']['lslidar']['x']}
             ${vehicle_info['base_link']['lslidar']['y']}
             ${vehicle_info['base_link']['lslidar']['z']}"

        rpy="${vehicle_info['base_link']['lslidar']['roll']}
             ${vehicle_info['base_link']['lslidar']['pitch']}
             ${vehicle_info['base_link']['lslidar']['yaw']}"
    />
    <parent link="base_link" />
    <child link="lslidar" />
  </joint>

  <link name="rplidar"/>
  <joint name="2d_lidar_link" type="fixed">
    <!-- <origin xyz="2.8 0 0.1" rpy="0 0 0" /> -->
    <origin
        xyz="${vehicle_info['base_link']['rplidar']['x']}
             ${vehicle_info['base_link']['rplidar']['y']}
             ${vehicle_info['base_link']['rplidar']['z']}"

        rpy="${vehicle_info['base_link']['rplidar']['roll']}
             ${vehicle_info['base_link']['rplidar']['pitch']}
             ${vehicle_info['base_link']['rplidar']['yaw']}"
    />
    <parent link="base_link" />
    <child link="rplidar" />
  </joint>

  <link name="itops_f25"/>
  <joint name="itops_f25_link" type="fixed">
    <!-- <origin xyz="2.8 0 0.1" rpy="0 0 0" /> -->
    <origin
        xyz="${vehicle_info['base_link']['itops_f25']['x']}
             ${vehicle_info['base_link']['itops_f25']['y']}
             ${vehicle_info['base_link']['itops_f25']['z']}"

        rpy="${vehicle_info['base_link']['itops_f25']['roll']}
             ${vehicle_info['base_link']['itops_f25']['pitch']}
             ${vehicle_info['base_link']['itops_f25']['yaw']}"
    />
    <parent link="base_link" />
    <child link="itops_f25" />
  </joint>
</robot>