<launch>
  <rosparam file="$(find vehicle_safety)/params/vehicle_safety_params.yaml" command="load"/>
  <node name="vehicle_safety_diagnostics" pkg="vehicle_safety" type="vehicle_safety" output="screen">
  <remap from="diagnostics" to="/vehicle_safety_diagnostics"/>
  </node>
  <node name="vehicle_safety_analyzer" pkg="vehicle_safety" type="vehicle_safety_analyzer.py" output="screen"/>
</launch>