<launch>
    <!--    Here we will have concept -->
    <arg name="hardware_in_loop" default="true" doc="false to software in loop"/>
    <arg name="vehicle_type" default="half_cabin" doc="It can be either half_cabin or porter"/>
    <arg name="mission_file" default="default.json"/>
    <arg name='min_dis' default='0.1'/>
    <arg name="failsafe_enable" default="true"/>
    <arg name="record" default="true"/> <!--bag file record-->
    <arg name="record_waypoints_on_rtk_loss" default="false"/>
    <arg name="enable_mapping" default="true"/>

    <param name="/save_path/save_on_rtkloss" value="$(arg record_waypoints_on_rtk_loss)"/>
    <param name='/patrol/gps_topic' value = '/vehicle/gps'/>
    <param name='/patrol/imu_topic' value = '/mavros/imu/data'/>
    <param name='/patrol/odom_topic' value = '/vehicle/odom'/>

    <group if="$(eval arg('hardware_in_loop'))">
        <include file="$(find vehicle_hardware_bringup)/launch/vehicle_core.launch">
            <arg name="vehicle_type" value="$(arg vehicle_type)"/>
             <arg name="vcu_up" default="false"/>
             <arg name="gps_up" default="false"/>
             <arg name="zed_camera" value="false"/>
             <arg name="2d_lidar" value="false"/>
             <!-- <arg name="3d_lidar" value="$(eval arg('enable_obs_v1') or arg('use_pcl_boxes'))"/> -->
             <arg name="rslidar" value="false"/>
             <arg name="lslidar" value="$(arg enable_mapping)"/>
             <arg name="itops_f25" value="false"/>
       </include>
     </group>

     <group unless="$(eval arg('hardware_in_loop'))">
        <param name='/patrol/gps_topic' value = '/mavros/global_position/global'/>
        <include file="$(find vehicle_description)/launch/boson_sim.launch">
            <arg name="vehicle_type" value="$(arg vehicle_type)"/>
        </include>
    </group>

    <param name="/save_path/mission_file" value="$(arg mission_file)"/>
    <param name="/save_path/min_dis_between_waypoints" value="$(arg min_dis)"/>
    <param name="/save_path/failsafe_enable" value="$(arg failsafe_enable)"/>
    <node pkg="autopilot" type="record_waypoints_json.py" name="waypoints_recorder_node" output='screen' />

    <group if="$(eval arg('failsafe_enable'))">
        <include file="$(find vehicle_safety_cpp)/launch/vehicle_safety_cpp.launch"> 
            <!-- Disable vehicle stop command when in save path -->
            <arg name="enable_stop_command" value="false"/> 
            <arg name="is_save_path" value="true"/> 
        </include>
    </group>

    <node name="save_path_bag_record" pkg="rosbag" type="record"
        args="record -o $(env HOME)/.bags/boson_save_path -a -x /zed2i/(.*)|/carla/(.*)|/rslidar_points|/lslidar_point_cloud|/mapper_node/(.*)" if="$(eval record)"/>

    <group if ="$(eval arg('enable_mapping'))">
         <include file="$(find kissicp_planner)/launch/mapper.launch"> 
            <arg name="pointcloud_topic" value="lslidar_point_cloud"/> 
            <arg name="publish_global_map" value="false"/> 
            <arg name="visualize" value="false"/>
            <arg name="target_config_file_name" value="$(arg mission_file)"/>
        </include>
    </group>

</launch>
