<launch>
    <arg name="cloud_in_for_auto_nav" default="/local_cloud_map"/>
    <arg name="cloud_in_for_local_map" default="rslidar_points"/>
    <arg name="mission_continue" default="false"/>
    <arg name="enable_cloud_mapping" default="true"/>
    <param name="/patrol/mission_continue" value ="$(arg mission_continue)"/>

    <include file="$(find auto_nav)/launch/pointcloud_to_laserscan.launch" >
        <arg name="cloud_in" value="$(arg cloud_in_for_auto_nav)"/>
        <arg name="config_file" value="cloud_to_laser_360_params.yaml"/>
    </include>

    <!-- autonav node -->
    <rosparam command="load" file="$(find auto_nav)/params/autonav_params.yaml"/>
    <node pkg = "auto_nav" type = "autonav_node.py" name = "autonav_node" output = 'screen' required="true"/>

    <!-- local cloud map node -->
    <include file="$(find auto_nav)/launch/pointcloud_map.launch">
            <arg name="input_cloud" value="$(arg cloud_in_for_local_map)"/>
    </include>

</launch>







