<launch>
    <arg name="mission_file" default="default.json"/>
    <arg name="mission_mode" default="0" doc="mode type [0, 1, 2], 0-> go and stop
                                                                   1-> go and return to the path starting point
                                                                   2-> Keep on doing (go and return) "/>
    <arg name="mission_trips" default="0" doc="Only valid on mission_mode 2, default is keep on loop(always until killed) "/>
    <arg name='od_enable' default = 'false'/>
    <arg name = 'from_start' default= 'false'/>
    <arg name = 'rc_control' default="false"/>
    <arg name ='rviz' default = 'true'/>

    <param name = "/patrol/mission_file" value = "$(arg mission_file)"/>
    <param name = '/patrol/mission_mode' value = "$(arg mission_mode)"/>
    <param name = 'patrol/mission_trips' value = "$(arg mission_trips"/>
    <param name = '/patrol/od_enable' value = "$(arg od_enable)"/>
    <param name = '/patrol/from_start' value = "$(arg from_start)"/>
    <param name="/patrol/rc_control" value="$(arg rc_control)" />


    <rosparam command="load" file="$(find autopilot_boson)/params/patrol_params.yaml"/>

    <node pkg = "autopilot_boson" type = "path_publisher.py" name = "gps_path_pub_node" />
    <node pkg = "autopilot_boson" type = "odom_path_plotter.py" name = "odom_path_plotter_node" />
    <node pkg = "autopilot_boson" type = "path_tracking_pure_pursuit.py" name = "pure_pursuit_node" output = 'screen' />
    <node name="rc_control" pkg="autopilot_boson" type="control_mode_selector.py"  if = "$(eval arg('rc_control'))"/>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autopilot_boson)/rviz/path.rviz" if = "$(eval arg('rviz'))"/>
    
</launch>






    
