<launch>
    
    <arg name="mission_continue" default="false"/>
    <arg name="sensor_source" default="1" doc="0: zed_camera, 1: rslidar, 2: rplidar "/>
    <arg name="use_pcl_boxes" default="true"/>
    <arg name="enable_zed_obs" default="true"/>
    <arg name="rslidar" default="true"/>
    <arg name="lslidar" default="false"/>

    <arg name="cloud_in" default="/rslidar_points"/>
    <arg name="pointcloud_to_laserscan_cloud_in" default="/obstacle_detector/cloud_clusters"/>
    <arg name="cloud_to_scan_config" default="cloud_to_laser_180_params.yaml"/>
    <arg name="lidar_obstacle_detector_config" default="rs_lidar_config.yaml"/>
    <param name = "/obstacle_stop_planner/mission_continue" value = "$(arg mission_continue)"/>
    <param name="use_pcl_boxes" value="$(arg use_pcl_boxes)"/>
    <param name="/pcl_bbox_topic" value="/filtered_detector/jsk_bboxes"/>
    <param name="enable_zed_obs" value="$(arg enable_zed_obs)"/>
    
    <group if="$(eval arg('rslidar'))">
        <include file="$(find lidar_obstacle_detector)/launch/obstacle_detect.launch">
            <arg name="rviz" value="false"/>
        </include>
    </group>

    <group if="$(eval arg('lslidar'))">
        <include file="$(find lidar_obstacle_detector)/launch/obstacle_detect.launch">
            <arg name="rviz" value="false"/>
            <arg name="points_in" value="lslidar_point_cloud"/>
            <arg name="bbox_target_frame" value="map"/>
        </include>
    </group>
   

    <include file="$(find obstacle_stop_planner)/launch/pointcloud_to_laserscan.launch">
        <arg name="cloud_in" value="$(arg pointcloud_to_laserscan_cloud_in)"/>
        <arg name="config_file" value="$(arg cloud_to_scan_config)"/>
        
    </include>

    <rosparam command="load" file="$(find obstacle_stop_planner)/params/obstacle_stop_planner.yaml"/>
    <param name="obstacle_stop_planner/scan_in" value="laser_scan"/>
    <param name="/obstacle_stop_planner/use_zed_object_detection" value="$(arg enable_zed_obs)"/>


    <node pkg="obstacle_stop_planner" type="obstacle_stop_planner.py" name="obstacle_stop_planner_node" output="screen" />


</launch>

<!-- if="$(eval arg('arg_name') == 'desired_value')"/> -->